* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Teachers", sans-serif;;
    background-color: #fff;
    color: #333;
}

header {
    background-color: #fff;
    padding: 1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}


nav a img {
    width: 45px;
    height: 45px;
    object-fit: contain;
    vertical-align: middle;
}

nav a:hover {
    text-decoration: underline;
}

.icones {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1rem;
}

.icones img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.icones img:first-child{
    margin-right: 200px;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

.produto {
    background-color: #88005b;
    color: #fff;
    border-radius: 20px;
    width: 500px;
    height: 350px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.produto img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
}